:root{
    --bg-first-section : #fdffff;
    --bg-second-section : #008080;
    --bg-first-file : #c3c3c3;
}

@font-face {
    font-family: 'W95FA';
    src: url('/font/W95FARegular.eot') format('embedded-opentype'),
        url('/font/W95FARegular.woff2') format('woff2'),
        url('/font/W95FARegular.woff') format('woff'),
        url('/font/W95FARegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    height: 100vh;

    font-family: 'W95FA';
}

section:first-of-type{
    width: 40vw;
    border-right: 1px solid red;
    overflow-y: scroll;
    background-color: var(--bg-first-section);
}

section:last-of-type{
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-second-section);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}