html, body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;

    height: 100vh;
}

section:first-of-type{
    width: 40vw;
    border-right: 1px solid red;
    overflow-y: scroll;
}

section:last-of-type{
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}